html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  @extend %DMSans-500;
  font-size: 16px;
  line-height: 40px;
  color: $default;
}

.container-big {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

.title {
  @extend %DMSans-700;
  font-size: 36px;
  line-height: 56px;
  text-align: center;
  color: $title;
}

.progress-title {
  @extend %DMSans-700;
  font-size: 16px;
  line-height: 16px;
  color: #4c4c4c;
}

.progress-num {
  @extend %DMSans-700;
  font-size: 36px;
  line-height: 38px;
  color: $default;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  &__item {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @extend %DMSans-700;
    color: #8b8b8b;
    transition: all .3s;
    &:not(:last-child) {
      margin-right: 30px;
    }
    &:hover {
      color: $accent;
    }
  }
}

.partners {
  padding: 265px 0 90px;
  background-color: #fef7f0;
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.breadcrumbs {
  &__list {
    display: flex;
    justify-content: center;
  }
  &__list-item:not(:last-child) {
    margin-right: 5px;
    padding-right: 15px;
    position: relative;

    &::after {
      content: "/";
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__list-link {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #222933;
  }
}

.pagination {
  margin-top: 110px;
  display: flex;
  justify-content: center;

  &__link {
    display: block;
    margin: 0 7px;
    padding: 10px 20px;
    border: 1px solid #a3bbc8;
    @extend %Rubik-400;
    color: $default;
    line-height: 30px;
  }

  .pagination__link--active {
    color: #fff;
    background-color: #a3bbc8;
  }

  &__list {
    margin: 0;
    display: flex;
  }
}