@import 'fonts';
@import 'reset';
@import 'libs';
@import 'vars';
@import 'global';


.header {
  padding: 50px 0 45px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__img {
    margin-right: 15px;
  }
  &__title {
    @extend %Rubik-500;
    font-size: 36px;
    line-height: 58px;
    color: #436372;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    margin-left: 35px;
  }
  &__list-link {
    @extend %Rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
  }
}

.user-nav {
  display: flex;
  gap: 20px;
  &__btn {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__btn--search {
    background-color: #edf1f4;
    background-image: url('../images/icons/search.svg');
  }
  &__btn--menu {
    background-color: #a3bbc8;
    background-image: url('../images/icons/menu.svg');
  }
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #fcd7b6;
    background-image: url('../images/icons/menu-pipe.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__link {
    position: relative;
  }
  &__link-num {
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    @extend %DMSans-400;
    font-size: 10px;
    line-height: 16px;
    color: $default;
  }
}


.footer-top {
  padding: 70px 0px;
  display: flex;
  @extend %Rubik-400;
  font-size: 14px;
  line-height: 32px;
  color: #7d7d7d;
  border-bottom: 1px solid #dae4e9;
  &__item {
    a {
      color: #7d7d7d;
    }
  }
  &__logo {
    margin-bottom: 20px;
  }
  &__item--address {
    width: 200px;
    margin-right: 100px;
  }
  .address {
    margin-bottom: 4px;
    line-height: 24px;
  }
  .address__name,
  .phone__name,
  .email__name {
    text-transform: uppercase;
  }
  &__item-title {
    margin: 24px 0 20px;
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
  }
  &__item--services,
  &__item--account {
    width: 170px;
    margin-right: 130px;
  }
  &__item--newsletter {
    width: 270px;
  }
  &__text {
    margin-bottom: 37px;
    line-height: 24px;
  }
  &__form-input {
    width: 170px;
    height: 40px;
    padding: 15px;
    border: none;
    background-color: #fef7f0;
    &::placeholder {
      @extend %DMSans-400;
      font-size: 12px;
      color: #234969;
    }
  }
  &__form-btn {
    margin-left: -4px;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100px;
    height: 40px;
    @extend %DMSans-400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #a3bbc8;
  }
}

.footer-bottom {
  padding: 35px 0 40px;
  display: flex;
  justify-content: space-between;
  &__copy {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }
  &__list {
    display: flex;
  }
  &__list-item:not(:last-child) {
    padding-right: 15px;
    margin-right: 15px;
    position: relative;
    &::after {
      content: "|";
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__list-link {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }
}


.top-slider {
  &__wrapper {
    padding-top: 220px;
    padding-bottom: 45px;
    background-image: url('../images/top-slider-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
  }
  &__content {
    max-width: 418px;
  }
  &__title {
    margin-bottom: 45px;
    @extend %Rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: $default;
  }
  &__text {
    margin-bottom: 25px;
    @extend %Rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
  }
  &__link {
    display: inline-block;
    padding: 24px 100px 21px 15px;
    background-color: #a3bbc8;
    @extend %Rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 23px;
      height: 10px;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background-image: url('../images/btn-arr-right.svg');
    }
  }
  .slick-dots {
    margin: 200px 0 0;
    display: flex;
    justify-content: center;
    li {
      margin: 0 6px;
      line-height: 0;
    }
    button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      background-color: #fde3cc;
      cursor: pointer;
      @extend %Rubik-500;
      font-size: 11px;
      line-height: 9px;
      color: $default;
    }
  }
  .slick-active {
    button {
      background-color: #fff;
    }
  }
}



// body {
//   @extend %DMSans-500;
//   font-size: 16px;
//   line-height: 40px;
//   color: $default;
// }




@import 'media';